[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flask-testing = "*"
autopep8 = "*"
faker = "*"

[packages]
flask = "*"
flask-dotenv = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
python-dateutil = "*"
pymongo = "*"
flask-pymongo = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
